.container{
    background-color: #fff;
    border-radius: 8px;
    float: left;
    width: 300px;
    margin: 16px;
    margin-left: 40px;
    box-shadow: 5px 5px 10px 1px #d6d6d6;
}

/* .container-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 5px 10px 1px #d6d6d6;
} */

.container-name{
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 0px;
}

.container p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.delete-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border-radius: 4px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }

@media (max-width:768px) {
    .container{
        background-color: #fff;
        border-radius: 8px;
        float: left;
        width: 200px;
        margin: 12px;
        margin-left: 20px;
        box-shadow: 5px 5px 10px 1px #d6d6d6;
    }
}